Repository RobbyV2/rust-next: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, taplo-fmt, eslint, prettier

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all --
  language: system
  pass_filenames: true

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

taplo-fmt:
  name: taplo fmt
  entry: taplo fmt
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bun run lint
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bunx prettier --write
  language: system
  pass_filenames: true

[chore] Update deps
  Cargo.lock
  bun.lock
  package.json
Due: prettier

feat: setup static branch with Rust WASM and Next.js 16
  .env.example
  .gitignore
  Cargo.lock
  Cargo.toml
  README.md
  app/layout.tsx
  app/page.tsx
  bun.lock
  jfiles/src/build.just
  jfiles/src/run.just
  jfiles/src/test.just
  next.config.js
  package.json
  src/api/create.rs
  src/api/env.rs
  src/api/greet.rs
  src/api/hello.rs
  src/api/mod.rs
  src/api/search.rs
  src/bin/server.rs
  src/lib.rs
  src/server/mod.rs
  src/server/route_builder.rs
  tsconfig.json
  wasm.d.ts
  wasm/src/lib.rs
Due: cargo-fmt, cargo-clippy, taplo-fmt, eslint, prettier

fix: justfile indentation and tsconfig updates for static branch
  jfiles/src/build.just
  package.json
  tsconfig.json
Due: prettier

chore: update dependencies for Next.js 16
  README.md
  package.json
Due: prettier

chore: update dependencies and docs for Next.js 16
  README.md
  jfiles/src/build.just
  next.config.js
  package.json
Due: eslint, prettier

feat: add WASM support to main branch
  .gitignore
  Cargo.lock
  Cargo.toml
  README.md
  app/wasm/page.tsx
  jfiles/src/build.just
  jfiles/src/run.just
  tsconfig.json
  wasm.d.ts
  wasm/Cargo.toml
  wasm/src/lib.rs
Due: cargo-fmt, cargo-clippy, taplo-fmt, eslint, prettier

Combine 3 branches
  .env.example
  .eslintrc.json
  .github/workflows/deploy.yml
  .gitignore
  Cargo.lock
  Cargo.toml
  README.md
  app/globals.css
  app/layout.tsx
  app/lib/api.ts
  app/lib/basePath.ts
  app/page.tsx
  app/wasm/page.tsx
  bun.lock
  eslint.config.mjs
  jfiles/src/build.just
  jfiles/src/justfile
  jfiles/src/run.just
  jfiles/src/test.just
  next.config.js
  package.json
  postcss.config.mjs
  public/.nojekyll
  src/api/create.rs
  src/api/env.rs
  src/api/greet.rs
  src/api/hello.rs
  src/api/mod.rs
  src/api/search.rs
  src/bin/server.rs
  src/config.rs
  src/lib.rs
  src/server/mod.rs
  src/server/route_builder.rs
  tsconfig.json
  wasm/src/lib.rs
Due: cargo-fmt, cargo-clippy, taplo-fmt, eslint, prettier

Dockerize 🐋
  .dockerignore
  .github/workflows/deploy.yml
  Dockerfile
  README.md
  app/lib/basePath.ts
  docker-compose.yml
  eslint.config.mjs
  jfiles/src/build.just
Due: eslint, prettier

fix: use correct dtolnay/rust-toolchain action in deploy workflow
  .github/workflows/deploy.yml
Due: none

fix: only run GitHub Pages deploy on manual trigger
  .github/workflows/deploy.yml
Due: none

chore: comment out push trigger for GitHub Pages deploy
  .github/workflows/deploy.yml
Due: none

OpenAPI / Swagger UI
  Cargo.lock
  Cargo.toml
  src/api/create.rs
  src/api/env.rs
  src/api/greet.rs
  src/api/hello.rs
  src/api/mod.rs
  src/api/openapi.rs
  src/api/search.rs
Due: cargo-fmt, cargo-clippy, taplo-fmt

Rate limiting
  .env.example
  Cargo.lock
  Cargo.toml
  src/bin/server.rs
  src/config.rs
  src/server/mod.rs
  src/server/route_builder.rs
Due: cargo-fmt, cargo-clippy, taplo-fmt

Update README
  README.md
  eslint.config.mjs
  src/api/create.rs
  src/api/mod.rs
  src/api/search.rs
  src/bin/server.rs
  src/server/route_builder.rs
Due: cargo-fmt, cargo-clippy, eslint, prettier

Fix ports
  .env.example
  Dockerfile
  README.md
  app/lib/api.ts
  bun.lock
  docker-compose.yml
  jfiles/common.just
  jfiles/src/run.just
  next.config.js
  package.json
  src/api/env.rs
  src/config.rs
Due: cargo-fmt, cargo-clippy, eslint, prettier

Bump deps (React, Next.js, and all others)
  Cargo.lock
  bun.lock
  package.json
Due: prettier

Stability fixes
  app/lib/__tests__/api_base.test.ts
  app/lib/__tests__/bun-test.d.ts
  app/lib/api.ts
  next.config.js
  package.json
  src/server/route_builder.rs
Due: cargo-fmt, cargo-clippy, eslint, prettier

Update deps
  Cargo.lock
  bun.lock
  package.json
Due: prettier

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  taplo-fmt: any of: \.toml$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.(md|markdown|mdown)$
